.App {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.card-parent {
  width: 100%;
  background: #21092f;
  padding: 0 20px;
}
